body {
	padding: 0;
	min-height: 500px;
}

.popup-wrapper {
  background-color: #f3f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px #aaa;
  overflow: hidden;
  padding: 10px;
}

.popup-title {
  padding: 10px 15px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #f0f0f0;
}

.popup-title h3 {
  margin: 0;
  line-height: 1.5em;
  color: #333;
}

.popup-body {

}

.popup-close {
  float: right;
  margin-top: 2px;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  border: 0;
  background: transparent;
  color: #aaa;
  cursor: pointer;
}

.popup-close:hover { color: #333; }

#overlay {
	display: none;
	z-index:998;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
	background: black;
	opacity: 0.5;
}
